:root {
  --page-background-light: white;
  --page-background-dark: #101315;
  --pagefind-ui-font: Charter, "Bitstream Charter", "Sitka Text", Cambria,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #e8e6e3;
    --pagefind-ui-background: rgb(38 38 38);
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
}

html {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, ui-serif,
    Georgia, Cambria, "Times New Roman", Times, serif;
  background: var(--page-background-light);
}

body {
  margin: 0;
}

p {
  color: white;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 1rem;
}

p a {
  color: white;
}

p a:hover {
  text-decoration-line: underline;
}

.header {
  background-color: black;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.header p {
  padding-left: 1rem;
  color: white;
}

.header a {
  text-decoration-line: none;
}

#search {
  margin: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--page-background-dark);
  }
}

@media (min-width: 768px) {
  p {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .header p {
    padding-left: 3rem;
  }
}
